/*Flores Francis Xavier Guillen 261060F */
        body {
            margin: 0;
            background-color :rgb(255, 253, 253);
            background-image: url("Banner.jpg.jpeg");
            background-position: top center;
            background-attachment: fixed;}
        /* Background */
        main{
                margin: 2.5% 5% 2.5% 5%;
                background-color: #FFFFE0;
                border-radius: 15px;
                background-image: url("BackgroundDecalAIgenerated.jpeg");}
        /* Navigation Bar */
        nav {
            width: 90%;
            max-width: 800px;
            margin: 20px auto;
            padding: 15px 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgb(21, 20, 20);
            background: linear-gradient(to right, #0E8B25, #66c06a, #0E8B25);}

        .navbox{
            display: flex;
            justify-content: center;
            align-items: center;}
        
        nav a {
            color: rgb(255, 254, 254);
            transition: background-color 0.3s ease, color 0.3s ease;
            padding: 5px 10px;
            border-radius: 10px;
            text-decoration: none;
            font-size: 18px;
            font-family: Poppins, sans-serif;
            font-weight: bold; }
        /* Button Hover */
        nav a:hover {
            color: #FFFFE0;
            background-color: orange;}
        
        h1 {
            margin: 35px 0 10px 0; 
            padding: 5px 10px;
            border-radius: 5px;

            font-family: Playfair Display, sans-serif;
            color: #0E8B25;
            font-size: 35px;}
        
        h2 {
            margin: 0;
            font-family: Poppins, sans-serif;
            color: rgb(240, 240, 240);}
        /* Vision Section */
        .vision{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 20px auto;
            width: 70%;
            max-width: 1000px;}
        /* For Team Info */
        .section{
            margin-left: 15%;
            display: flex;
            align-items: center;
            gap: 50px;}
        /* For History */
        .section2{
            margin-left: 15%;
            display: flex;
            align-items: center;
            gap: 50px;}
        /* Team Info Image */
        .section img{
            border-radius: 6px;
            width: 60%;
            max-width: 600px;
            margin-top: 40px;
            height: auto;}
        /* History Image */
        .section2 img{
            border-radius: 6px;
            width: 60%;
            max-width: 600px;
            margin-top: 40px;
            height: auto;}
        
        .text{
            width: 50%;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;}
        /* Links in the Navigation Bar */
        .links {
            display: flex;
            gap: 30px;
            justify-content: center;
            align-items: center;}
        
        .logo{
                text-align: center;
                align-items: center;
                justify-content: center;
                display: flex;
                gap: 25px;}
        /* For the W Foods Logo */
        .logo img{ 
            display: block;
            border-radius: 10px;
            width: 50%;
            max-width: 100px;
            margin-top: 10px;
            height: auto;
            justify-content: start;}
       
        .logo h1{
            color: #FFFFE0;
            background: linear-gradient(to right, #0E8B25, #66c06a);
            border-radius: 10px;
            padding: 10px 20px;
            font-family:Georgia, 'Times New Roman', Times, serif}
        /* For the background of some of the text */
        .background{
                background-color: #0E8B25;
                border-radius: 10px;
                padding: 15px 20px;
                margin: auto auto 40px;
                box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.5);}
        /* Copied from the Homepage with changes made to fit */
        footer{
                background:#0E8B25;
                border-radius: 10px;
                color:white;
                padding:1%;
                text-align: center;
                margin: 0;}
        
