.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 75px; 
    height: 60px; 
}
body {
  background-color:#FFFFE0;
}

nav ul {
list-style-type: none;
background-color: #0E8B25;
padding: 10px;
display: flex;              
  justify-content: center; 
}
nav li { display: inline-block; }

nav a {
color: white;
padding: 8px 16px;
text-decoration: none;
}
table { border-collapse: collapse; }
th, td { border: 1px solid #444;
padding: 8px; }
body { font-family: Arial; }
nav a:hover {
background: #F2A33C;
}
.card:hover {
box-shadow: 6px 6px
14px #999;
transition: 0.3s;
}
.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #0E8B25;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  color:black;
}
.center-text {
  text-align: center;
}
.parent-container {
    display: grid;
    place-items: center;
    height: 50vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.form-row {
  display: flex;
  align-items: center;   
  gap: 10px;            
  flex-wrap: wrap;       
}
.faq-columns {
    display: flex;
    gap: 30px;
}

.column {
    flex: 1;
}

.column details {
    margin-bottom: 10px;
}
